@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import "https://unpkg.com/open-props";


/* 
==================
TABLE OF CONTENTS
==================
Get my titles from CSS: https://regex101.com/r/19A7fa/1

 1. GENERAL 
 2. LEFT PANEL 
    2.1 Logo  
    2.3 Menu items 
    2.4 Add Demo Data button 
 3. MAIN PANEL 
    3.1 Search field  
    3.2 Collections and books sections 
    3.2.1 View all buttons 
    3.2.2 headings  
    3.2.2.1 "Add book" button 
    3.2.3 Collection item 
    3.2.3.1 progress bar  
    3.3 books section 


-======================


/* 1. GENERAL */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--gray-1);
    font-family: 'Nunito', Helvetica, "Segoe UI", Arial, sans-serif;

    /* height: 100vh; */
}

.btn {
    border-radius: 9999px;
    outline: 0;
    border: 0;
    font-family: "Nunito", Helvetica, "Segoe UI", Arial, sans-serif;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 250ms;


}

.btn:hover {
    box-shadow: var(--shadow-3);
}


.container-of-containers {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 98vh;
    max-width: 100vw;
    padding: 1vw;
    border-radius: 25px;

}

h1,
h2 {
    letter-spacing: 0.2pt;
    margin: 1em 0 0 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

/* 2. LEFT PANEL */

.left-panel {
    padding-left: 1vw;
    padding-top: 1vw;
    width: 12vw;
    background-color: var(--violet-8);
    border-radius: 20px 0 0 20px;
}

/* 2.1 Logo  */

.logo {
    height: 3.5vh;
    padding: 0.5em;
    box-sizing: content-box;
}



/*  2.2 Menu*/
.left-panel__menu {
    padding-top: 14vh;
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
}

/* 2.3 Menu items */
.menu__menu-item {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1pt;
    color: var(--violet-0);
    transition: all 250ms;
}

.menu__menu-item:hover {
    font-weight: 700;

}

/* 2.4 Add Demo Data button */
.left-panel__btn-add-data {
    position: absolute;
    bottom: 50px;
    font-size: 0.75rem;
    background-color: var(--violet-3);
    color: var(--violet-9);
    font-weight: 900;
    transition: all 250ms;

}

.left-panel__btn-add-data:hover {
    background-color: var(--violet-2);
}

.left-panel__btn-add-data:active {
    background-color: var(--violet-1);
}



/* 3. MAIN PANEL */
.main-panel {
    padding: 3.5vw 4vw;
    /* margin: 0 3em; */
    /* padding-top: 1vw; */
    width: 12vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
    flex-basis: 50%;
    border-radius:  0 20px 20px 0;
}

/* 3.1 Search field  */
.search__field {
    background-color: var(--gray-0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 3% center;
    width: 75%;
    font-size: 1.2rem;
    color: var(--gray-5);
    display: flex;
    align-items: center;
    padding: 1em 1em 1em 2.5em;
    border-radius: 9999px;
    border: 0;
}

/* 3.2 Collections and books sections */

/* 3.2.1 View all buttons */
.collections__view-all,
.book__view-all {
    color: var(--gray-5);
    transition: all 250ms;

}

.collections__view-all::after,
.book__view-all::after {
    content: "  ›"
}

.collections__view-all:hover,
.book__view-all:hover {
    color: var(--gray-6);
}

/* 3.2.2 headings  */
.collections__heading,
.books__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid var(--gray-2);
    padding-bottom: 0.5em;
}


/* 3.2.2.1 "Add book" button */
.heading-and-button {
    display: flex;
    align-items: center;
    gap: 1em;

}

.books__btn-add-book {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.5pt;
    padding: 0.4em 1.5em;
    position: relative;
    top: 14px;
    background-color: var(--violet-6);
    color: white;
    transition: all 250ms;

}

.books__btn-add-book:hover {
    background-color: var(--violet-4);
}

.books__btn-add-book:active {
    background-color: var(--violet-2);
}

/* 3.2.3 Collection item */

.collections__proper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    padding-top: 2em;
    gap: 1.5em;
}

.collection__container {
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    background-color: var(--gray-1);
    border-radius: 15px;
    padding: 1em 1.2em;
    transition: all 250ms;


}

.collection__container:hover {
    box-shadow: var(--shadow-3);
    
}

.collection__author {
    align-self: end;
    max-width: 50%;
    font-size: 2rem;
    line-height: 1.9rem;
    font-weight: 100;
    color: var(--gray-5);
}

.collection__name {
    font-weight: 900;
    font-size: 1.1rem;
}

.collection__number-of-books {
    font-size: 0.9rem;
}

/* 3.2.3.1 progress bar  */
progress {
    border-radius: 7px;
    width: 100%;
    height: 0.5em;
}

progress::-webkit-progress-bar {
    background-color: var(--gray-4);
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: var(--violet-3);
    border-radius: 7px;
}

/* 3.3 books section */

.books__proper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.books__shelf {
    overflow: scroll;
    max-height: 45vh; /* @fix this inelegant solution. This is all except non-responsive*/
    height: 40vh;

    /* hide scrollbars */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*  hide scrollbars */
.books__shelf::-webkit-scrollbar {
    display: none;
}



.book__container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-7);
    transition: all 50ms;
    
    /* margin-top: 1em; */
    padding: 1.2em;

}

.book__container:nth-child(1) {
    margin-top: 1em;
}

.book__container:nth-child(odd) {
    background-color: var(--gray-0);
    border-radius: 15px;
}

.book__container:hover {
    background-color: var(--gray-1);
    border-radius: 15px;


}

.book__delete {
    opacity: 0.8;
    transition: all 250ms;
}

.book__delete:hover {
    opacity: 1;
    transform: rotate(2deg);

}

.book__delete:active {
    color: var(--red-7);
    /* transform: rotate(-5deg); */
}

.book__title {
    color: var(--violet-9);
    font-weight: 800;
}

.book__delete {
    justify-self: end;
}


.book__status {
    font-size: 0.9rem;
    padding: 0.1em 1em;
    font-weight: 900;
    justify-self: center;
    align-self: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.book__status.is-unread {
    background-color: var(--yellow-2);
}

.book__status.is-read {
    background-color: var(--lime-2);
}



